<!doctype html>
<html>
    <head>
        <title>{{title}}</title>
        <!--<link rel="stylesheet" type= "text/css" href="/css/normalize.css">-->
        <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/mainpage.css') }}">
    </head>

    <body>

        <header>
            <nav>
              <ul id="user-account">
                <li><a href="/login">login</a></li>
                <li><a href="/logout">logout</a></li>
              </ul>
              <ul>
                <li><a href="/">home</a></li>
                <li><a href="/blog">all posts</a></li>
                <li><a href="/newpost">new post</a></li>
              </ul>
            </nav>
        
            <h1>{% block title %}{% endblock %}</h1>
          </header>
        

        {% block content %}
        {% endblock %}
        
    </body>
</html>