{% extends "base.html" %}

{% block content %}


<p><a href="/blog">blog posts!</a><span style="display:inline-block; width: 10px;"></span>
    <a href="/newpost">Add a Blog Entry</a></p>

    <h1 align="center">Build a Blog</h1>


<ul style="list-style: none;">
    {% for post in posts %}
 
        <h2><a href=/blog?id={{post.id}}>{{post.title}}</a></h2>
        <p>{{post.content}}</p>
        <p><strong>Post By: </strong><a href="/blog?user={{post_id}}">{{post.username}}</a></p>
        <hr>
   
    {% endfor %}
</ul>

{% endblock %}
