{% extends "base.html" %}

{% block content %}

    <h1>blog posts!</h1>
    <hr />

    {% if posts|length == 0 %}
    <p>No posts yet</p>
    {% else %}


<ul style="list-style: none;">
    {% for post in posts %}
 
        <h2><a href=/viewpost?view_post_id={{post.view_post_id}}>{{post.title}}</a></h2>
        <p>{{post.content}}</p>
        <p><em>written by </em><a href="/singleUser?view_post_id={{post.owner.id}}">{{post.owner.username}}</a></hp>
        <hr>
   
    {% endfor %}
</ul>
    {% endif %}
{% endblock %}