  {% extends "base.html" %}

{% block content %}

<!-- Directions Section -->
<div class="w3-container" style="padding:128px 16px" id="direct">
    <h3>DIRECTIONS</h3>
    <p class="w3-large">Choose a direction option that fits your needs.</p>
    <button onclick="myFunction('Stl')" class="w3-button w3-block w3-left-align w3-black">
      From St. Louis <i class="fa fa-caret-down"></i></button>
      
      <div id="Stl" class="w3-container w3-hide">
          <ul class="w3-ul">
              <li><i class="fa fa-car fa-fw w3-margin-right"></i> Get on I-64 W/US-40 W</li>  
              <li><i class="fa fa-arrow-left fa-fw w3-margin-right"></i> Merge onto I-70 W/US-40 W towards Kansas City</li>
              <li><i class="fa fa-arrow-right fa-fw w3-margin-right"></i> Take exit 200 toward Missouri F/Missouri J/Wright City</li>
              <li><i class="fa fa-arrow-left fa-fw w3-margin-right"></i> Turn left onto N Elm St</li>
              <li><i class="fa fa-arrow-right fa-fw w3-margin-right"></i> Turn right onto W 1st St S</li>
              <li><i class="fa fa-arrow-up fa-fw w3-margin-right"></i> Continue onto State Hwy F/SW Ave</li>
              <li><i class="fa fa-arrow-left fa-fw w3-margin-right"></i> Turn left onto State Hwy M</li>  
              <li><i class="fa fa-map-marker fa-fw w3-margin-right"></i> Big Joel's Safari is located on the left</li></ul>
        </div>
        <br>
            <button onclick="myFunction('KC')" class="w3-button w3-block w3-left-align w3-black">
              From Kansas City <i class="fa fa-caret-down"></i></button>
              
              <div id="KC" class="w3-container w3-hide">
                  <ul class="w3-ul">
                    <li><i class="fa fa-car fa-fw w3-margin-right"></i> Get on I-70 E from E 12th St</li>
                    <li><i class="fa fa-arrow-up fa-fw w3-margin-right"></i> Follow I-70 E to MO-47 S/State Hwy 47 S in Warrenton</li>
                    <li><i class="fa fa-arrow-right fa-fw w3-margin-right"></i> Take exit 193 from I-70 E</li>  
                    <li><i class="fa fa-arrow-right fa-fw w3-margin-right"></i> Turn right onto MO-47/State Hwy 47 S (signs for Truesdale/Warrenton)</li>  
                    <li><i class="fa fa-arrow-right fa-fw w3-margin-right"></i> Turn right onto S Spoede Ln</li>  
                    <li><i class="fa fa-arrow-left fa-fw w3-margin-right"></i> Turn left onto State Hwy M</li>  
                    <li><i class="fa fa-map-marker fa-fw w3-margin-right"></i> Big Joel's Safari is located on the left</li></ul>
                </div>
                <br>
                <button onclick="myFunction('Wash')" class="w3-button w3-block w3-left-align w3-black">
                  From Washington <i class="fa fa-caret-down"></i></button>
                  
                  <div id="Wash" class="w3-container w3-hide">
                      <ul class="w3-ul">
                        <li><i class="fa fa-car fa-fw w3-margin-right"></i> Head southeast on W 3rd St toward Jefferson St</li> 
                        <li><i class="fa fa-arrow-left fa-fw w3-margin-right"></i> Turn left onto State Hwy 47 N</li>
                        <li><i class="fa fa-arrow-right fa-fw w3-margin-right"></i> Turn right onto MO-94 E</li>
                        <li><i class="fa fa-arrow-up fa-fw w3-margin-right"></i> Continue straight onto State Hwy TT</li>
                        <li><i class="fa fa-arrow-left fa-fw w3-margin-right"></i> Turn left onto Hwy T</li>
                        <li><i class="fa fa-arrow-left fa-fw w3-margin-right"></i> Turn left onto State Hwy M</li>
                        <li><i class="fa fa-map-marker fa-fw w3-margin-right"></i> Big Joel's Safari is located on the right</li> 
                        </ul>
                    </div>
</div>
  {% endblock %}