  {% extends "base.html" %}

{% block content %}

<!-- Employment Section -->
<div class="w3-container" style="padding:128px 16px" id="employment">
<h3 class="w3-center">Employment Opportunities</h3>
<p class="w3-large">If you are looking for a unique employment opportunity that includes hard work, rewarding animal encounters, and the chance to work on a 
great team,<br> Big Joel's Safari Petting Zoo and Educational is now accepting 
applications for the upcoming 2018 Season!<br> As always, we are looking for 
energetic, responsible, and service oriented applicants.</p>

<button onclick="myFunction('Job1')" class="w3-button w3-block w3-left-align w3-black">
Safari Ambassador <i class="fa fa-caret-down"></i></button>

<div id="Job1" class="w3-container w3-hide">
<p>Position is seasonal (2018 Season for employees is March 24th- November 4th)</p>
<p><b>Responsibilities:</b> Assisting and supervising zoo guests with light
 duty zoo maintenance. Duties include serving the public with basic 
information, directions, and park history, helping ensure all zoo 
visitors follow park rules and protocol, helping with special events 
and new exhibit areas, and light cleaning and zoo maintenance detail. 
Ambassadors will play an important in educating and guiding field trip 
groups and supervising certain areas of the park.</p>
<p><b>Qualifications:</b> Prior experience in the customer service or 
the educational field preferred. Must have great attention to detail and 
be able to relay new information quickly. Must be able to work weekdays, 
with some weekends, holidays, and special events. Must have high school 
diploma or equivalent, reliable transportation to work, reliable means 
of communication, and must be 18 years of age to apply for this position.
</p>
</div>
<br>
<button onclick="myFunction('Job2')" class="w3-button w3-block w3-left-align w3-black">
Lead Safari Team Member <i class="fa fa-caret-down"></i></button>

<div id="Job2" class="w3-container w3-hide">
<p>Position is Full Time Seasonal (2018 Season for employees is March 17th- November 4th)</p>
<p><b>Responsibilities:</b> Assist with all aspects of day to day zoo operations.  
Interact and supervise visitors.  Duties may include but are not limited to 
cleaning animal pens and areas, feeding and watering, organizing the feed and barn areas, 
assisting with the preparation work, cleaning restrooms and sanitization areas, stocking 
supplies and gift shop, lawn and ground maintenance, working on minor maintenance projects, 
working a cash register, handling animals, and assisting the Supervisor on other tasks as 
assigned. Lead Safari Team Members primary duties include animal diet preparations, feeding, 
intermediate level animal species enclosure maintenance, animal handling and training, 
and high priority tasks.</p>
<p><b>Qualifications:</b> Working experience with animals and animal handling preferred, 
but not necessary. Prior customer service experience is preferred.  Must be able to take 
direction and work independently when applicable.  Must have flexible work hours. Work 
schedules include weekdays, weekends, some nights, and holidays.  Must have the physical 
ability to work on your feet and be able to walk the Zoo grounds for several hours at a time.  
Must be able to handle outdoor weather extremes in all seasons. Must be able to lift up to 
50 lbs. Have camel and pony handling experience or willingness to learn. Lead Safari Team 
Members have the potential to work into the park off season.</p>
<p>All successful candidates for this position may be required to submit to a criminal 
background check and drug test. All candidates must be 18 years of age, have a High School 
Diploma or equivalent, have reliable transportation to work, and reliable means of communication.
</p>
</div>
<br>
<button onclick="myFunction('Job3')" class="w3-button w3-block w3-left-align w3-black">
Safari Team Member <i class="fa fa-caret-down"></i></button>

<div id="Job3" class="w3-container w3-hide">
<p>Full Time and Part Time Seasonal Position (2018 Season for employees is March 17th- November 4th)</p>
<p><b>Responsibilities:</b> Assist with all aspects of day to day zoo operations.  
Interact with visitors.  Duties may include but are not limited to cleaning 
animal pens and areas, feeding and watering, organizing the feed and barn areas, 
assisting with the preparation work, cleaning restrooms and sanitization areas, stocking 
supplies and gift shop, lawn and ground maintenance, working on minor maintenance 
projects, working a cash register, handling animals, entry level animal species 
enclosure maintenance, and assisting Lead Safari Team Members and/ or Supervisors 
on other tasks as assigned.</p>  
<p><b>Qualifications:</b> Working experience with animals preferred, but not needed. 
Prior customer service experience is preferred.  Must be able to take direction and 
work independently when applicable.  Must have flexible work hours. Must have the 
physical ability to work on your feet and be able to walk the Zoo grounds for several 
hours at a time.  Must be able to handle extreme outdoor temperature extremes in all 
seasons. Must be able to lift up to 50 lbs.</p>  
<p><b>Full-Time Candidates:</b> Work schedules include weekdays, weekends, some nights, 
and holidays.  All Safari Team Members that are 18 years old have the potential to move 
up to Lead Safari Team Member.</p>
<p><b>Part-Time Candidates:</b> High school and college students work schedules include 
weekends and holidays in the spring and fall. Weekends, weekdays, some nights, and holidays 
in the summer.</p>
<p>All successful candidates for this position may be required to submit to a criminal 
background check and drug test. All candidates must be 16 years of age, have reliable 
transportation to work, and reliable means of communication.
</p>
</div>
<br>
<button onclick="myFunction('Apply')" class="w3-button w3-block w3-left-align w3-black">
How to apply <i class="fa fa-caret-down"></i></button>

<div id="Apply" class="w3-container w3-hide">
<p>Email a cover letter, resume, and two references to 
bigjoelsafari@bigjoelsafari.com with Bigjoelsafari 2019 Hire in the 
subject line and include mention of the relevant position or positions.</p> 
<p>A confirmation email will be sent in the following days.</p>  
<p>We will contact you for an interview if any opportunities are available. Interviews will be conducted around mid-February.
</p>
</div>
</div>
 {% endblock %}