{% extends "base.html" %}

{% block content %}

<!-- Events Section -->
<div class="w3-container" style="padding:128px 16px" id="events">
  <div class="w3-row-padding">
  <div class="w3-col m4 13">
  <h3>Hours</h3>
         <p><b>Big Joel's Safari is open in the Summer (May 30 - Sept 5):</b></p>
    
    <ul class="w3-ul">
          <li>Sunday 9AM-5PM</li>
          <li>Monday Closed</li>
          <li>Tuesday Closed</li>
          <li>Wednesday Closed</li>
          <li>Thursday 9AM-5PM</li>
          <li>Friday 9AM-5PM</li>
          <li>Saturday 9AM-5PM</li>
    </ul>
    <p><b><em>Please check the calendar for the hours on the day of your visit.</b></em></p>
      </div>
  <div class="w3-col m8 19">
  
  <iframe src="https://calendar.google.com/calendar/embed?height=600&amp;wkst=1&amp;bgcolor=%23FFFFFF&amp;src=en.usa%23holiday%40group.v.calendar.google.com&amp;color=%230F4B38&amp;ctz=America%2FChicago" style="border-width:0" width="800" height="600" frameborder="0" scrolling="no"></iframe>
  </div>
       </div> 
       </div> 
        </div> 
        {% endblock %}