  {% extends "base.html" %}

{% block content %}


<!-- FAQ Section -->
<div class="w3-container w3-center" style="padding:128px 16px" id="faq">
    <h3>Frequently Asked Questions</h3>
    <button onclick="myFunction('q1')" class="w3-button w3-block w3-left-align w3-black">
        How long should we plan for a visit? <i class="fa fa-caret-down"></i></button>
        
        <div id="q1" class="w3-container w3-hide">
  <p>Truth be told it depends on how much you love animals, you could spend an hour or half a day.</p>
  </div>
  <br>
  <button onclick="myFunction('q2')" class="w3-button w3-block w3-left-align w3-black">
      What type of park is Big Joel's Safari? <i class="fa fa-caret-down"></i></button>
      
      <div id="q2" class="w3-container w3-hide">
<p>Big Joel's Safari is a small walk thru park on 15 acres (not a drive thru), half petting zoo and half zoo that gets you close to the animals.</p>
</div>
<br>
<button onclick="myFunction('q3')" class="w3-button w3-block w3-left-align w3-black">
    What is the best age to visit? <i class="fa fa-caret-down"></i></button>
    
    <div id="q3" class="w3-container w3-hide">
<p>Big Joel's is made for all ages as long as you love animals.</p>
</div>
<br>
<button onclick="myFunction('q4')" class="w3-button w3-block w3-left-align w3-black">
    Are you allowed to bring food and beverages into Big Joel's Safari? <i class="fa fa-caret-down"></i></button>
    
    <div id="q4" class="w3-container w3-hide">
<p>For the safety of our animals the answer is no, you can however bring water into the park. We do sell sealed snacks and drinks in our gift shop, but plans for a snack shack are in the works for the future.</p>
</div>
<br>
<button onclick="myFunction('q5')" class="w3-button w3-block w3-left-align w3-black">
    Is the park wheelchair accessible? <i class="fa fa-caret-down"></i></button>
    
    <div id="q5" class="w3-container w3-hide">
<p>We are partially wheelchair accessible. The zoo is on natural terrain, which means there are slight inclines, gravel, and grass to manage. Some chairs do better than others and we not have wheelchair rentals.</p>
</div>
<br>
<button onclick="myFunction('q6')" class="w3-button w3-block w3-left-align w3-black">
    What animals are you allowed to feed and touch? <i class="fa fa-caret-down"></i></button>
    
    <div id="q6" class="w3-container w3-hide">
<p>Almost any animal that can walk up to the fence can be fed or touched, unless posted signs tell you otherwise. For example some love to be petted, but cannot be fed. While some love to be fed, but not touched. Most animals at the park that can be touched and fed love both! The feed is not for all the animals as some are on special diets, so keep them healthy. You can use your hands, spoons, or special feed tubes to feed the animals (but don't use your cup they might steal or break it!)</p>
</div>
<br>
<button onclick="myFunction('q7')" class="w3-button w3-block w3-left-align w3-black">
    Do you have to have a reservation or schedule a time to come out to the Safari!  <i class="fa fa-caret-down"></i></button>
    
    <div id="q7" class="w3-container w3-hide">
<p>No, you can visit anytime during open days and hours which can be found in the "Park Information" section. Only school tours and field trips must be scheduled in advance.</p>  
</div>
</div>
  {% endblock %}