  {% extends "base.html" %}

{% block content %}

<!-- Mission Section -->
<div class="w3-container" style="padding:128px 16px" id="mission">
        <h3 class="w3-center">Mission</h3>
        <p class="w3-center w3-large">Established 2012</p>
        <div class="w3-row-padding" style="margin-top:64px">
          <div class="w3-half w3-margin-bottom">
            <div class="w3-card">
              <img src="img/joel.jpg" alt="Joel" style="width:100%" alt="logo">
              <div class="w3-container">
                <h3>Joel Clinger</h3>
                <p class="w3-opacity">Owner and Founder</p>
                <p>Joel has always had a passion for animals and got his first "exotic" pet, a ball python when he was 6 years old. It only grew from there as you can see today and Big Joel is the main culprit! He played college football for Mizzou and graduated with his degree in Animal Sciences in 2007.</p>
                <a href="bigjoelsafari@bigjoelsafari.com"><p><button class="w3-button w3-light-grey w3-block"><i class="fa fa-envelope"></i> Contact</button></p></a>
              </div>
            </div>
          </div>
          <div class="w3-half w3-margin-bottom">
            <div class="w3-card">
              <img src="img/big-joels.jpeg" alt="Mimi" style="width:100%">
              <div class="w3-container">
                <h3>Mimi</h3>
                <p class="w3-opacity">Co-owner</p>
                <p>Melissa, "Mimi" met Joel at Mizzou where she took veterinary class. She currently works as an occuppational therapist.</p>
                <p><button class="w3-button w3-light-grey w3-block"><i class="fa fa-envelope"></i> Contact</button></p>
              </div>
            </div>
          </div>
        </div>
      </div>         
{% endblock %}